[submodule "public"]
	path = public
	url = https://github.com/thenzolima/thenzolima.github.io
[submodule "thenzolima.github.io"]
	path = thenzolima.github.io
	url = https://github.com/thenzolima/thenzolima.github.io
