{{ define "main" }}
<section class="main-list">
  <h1>{{ .Title }}</h1>
  <p>{{ .Description }}</p>
  <div class="produto-list">
    {{ range .Site.Data.produtos.data }}
    <article class="produto-item">
      <img src="{{ .img }}" alt="">
      <div class="produto-content">
        <h2>{{ .title }}</h2>
        <p>{{ .description }}</p>
      </div>
      <div id="price-area">
        <span>{{.price}}</span>
        <button class="btn-style">Compre agora</button>
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}