---
import CustomCard from "@/components/ui/CustomCard.astro";
import { ProfileCarousel } from "@/components/widgets/ProfileCarousel.tsx";
import Redes from "./Redes.astro";
---

<CustomCard
  customStyleTitle="font-bold"
  customStyleContent="prose prose-neutral leading-normal dark:prose-invert prose-p:mb-0 -mt-6 prose-img:m-auto prose-img:rounded-sm prose-hr:my-8 prose-p:mt-2"
>
  <div slot="container" class="object-cover mb-2">
    <ProfileCarousel
      client:load
      style="w-[60px] h-[60px] rounded-sm overflow-hidden border-2"
    />
  </div>
  <div slot="title">Olá, me chamo Enzo</div>

  {" "}

  <div slot="description">
    Product Designer com foco em experiência digital.
  </div>

  {" "}

  <div slot="content">
    <p>
      Utilizo do branding e desenvolvimento para transformar ideias em produtos
      funcionais, acessíveis e visualmente coerentes. Atualmente fundando um
      coletivo criativo.
    </p>
    <p>
      Se você busca alguém para lhe ajudar a transformar ideias em produtos
      funcionais, ou em seu posicionamento no ambiente digital, talvez a gente
      deva conversar.
    </p>
  </div>
  <div slot="footer">
    <Redes />
  </div>
</CustomCard>
