<div class="flex flex-col gap-1">
  <div
    class="bg-amber-400 p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
  >
    <img
      src="/assets/sandbox/revolver.webp"
      alt=""
      class="w-full h-auto object-contain"
    />
    <img
      src="/assets/sandbox/nirvana.webp"
      alt=""
      class="w-full h-auto object-contain hidden sm:block"
    />
    <img
      src="/assets/sandbox/tws.webp"
      alt=""
      class="w-full h-auto object-contain hidden md:block"
    />
  </div>
  <div>
    <p>Posterpack</p>
    <p class="text-neutral-400">Posters interativos da cultura pop</p>
  </div>
</div>
