---
import { Button } from "@/components/ui/button";
import RedesIcon from "@/components/ui/RedesIcon.astro";
import CopyEmailButton from "@/components/ui/CopyEmailButton.tsx";
---

<section id="redes">
  <RedesIcon />
  <CopyEmailButton client:load />
</section>
