---
import sandboxData from "@/content/sandbox/sandbox";
import Posterpack from "./Posterpack.astro";
---

<section class="w-full">
  <slot />
  <article class="grid w-full gap-6">
    <Posterpack />
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 col-span-full">
      {
        sandboxData.map((section) => (
          <div class="flex flex-col gap-1">
            <img src={section.icon} alt={section.name} />
            <div class="">
              <p>{section.name}</p>
              <p class="text-neutral-400">{section.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </article>
</section>
