<div class="flex justify-center gap-4 mb-4 mt-4">
    <img
        src="/assets/sobre/1.webp"
        class="w-28 sm:w-32 md:w-36 h-auto -rotate-2 transform hover:rotate-1 hover:scale-105 transition duration-75 rounded border-2"
        alt=""
    />
    <img
        src="/assets/sobre/3.webp"
        class="w-28 sm:w-32 md:w-36 h-auto rotate-2 transform hover:rotate-1 hover:scale-105 transition duration-75 rounded border-2"
        alt=""
    />
    <img
        src="/assets/sobre/2.webp"
        class="sm:block w-28 sm:w-32 md:w-36 h-auto -rotate-2 transform hover:rotate-1 hover:scale-105 transition duration-75 rounded border-2"
        alt=""
    />
    <img
        src="/assets/sobre/4.webp"
        class="hidden sm:block w-28 sm:w-32 md:w-36 h-auto rotate-2 transform hover:rotate-1 hover:scale-105 transition duration-75 rounded border-2"
        alt=""
    />
</div>
