---
import CustomCard from "@/components/ui/CustomCard.astro";
import CopyEmailButton from "@/components/ui/CopyEmailButton";
---

<CustomCard
  customStyleContainer="hidden"
  customStyleFooter="hidden"
  customStyleTitle="font-bold"
  customStyleContent="-mt-2"
>
  <div slot="title">👋 Vamos conversar!</div>

  {" "}

  <div slot="description">Meu e-mail ao lado</div>

  {" "}

  <div slot="action">
    <CopyEmailButton client:load />
  </div>

  {" "}

  <div slot="content">
    Se você busca alguém para lhe ajudar a transformar ideias em produtos
    funcionais, ou em seu posicionamento no ambiente digital, podemos conversar.
  </div>

  <div slot="footer"></div>
</CustomCard>
