---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<main class="max-w-2xl mx-auto px-4 py-8 sm:px-0 mb-8 flex gap-4 flex-col">
  <Navbar />
  <slot />
  <Footer />
</main>
