<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{or .Params.description .Site.Params.description}}>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "styles" . }}
</head>
<body>
        {{ partial "navbar" . }}
        {{ block "main" . }} {{ end }}
        {{partial "footer" .}}

    {{ partial "script" . }}

</body>
</html>