{{define "main"}}
{{ $format := "02-01-2006" }}
<main class="main-index">
    <section class="hero">
        <img class="avatar"
            src="https://avatars.githubusercontent.com/u/129903213?s=400&u=dc48975f381c5dacee55de5a9ee71576d5101a03&v=4"
            alt="">
        <h1>Um Designer que gosta de bons filmes, música e Open Source.</h1>
        {{.Content}}
        {{ partial "redes" . }}
    </section>

    <section class="projetos">
        <h2>Projetos</h2>
        <div class="card-grid">
            {{ range .Site.Data.projects.data }}
            {{ partial "card" . }}
            {{ end }}
        </div>
    </section>

    <section class="posts">
        <div class="posts-title">
            <h2>Posts recentes</h2>
            <a href="/artigos">Ver todos</a>
        </div>
        {{range .Paginator.Pages | first 5}}
        <a href="{{.Permalink}}" class="listItens">
            <p class="title">{{.Title}}</p>
            <p class="date">{{ .Date.Format $format }}</p>
        </a>
        {{end}}
    </section>
</main>
{{end}}