---
import PostList from "@/components/widgets/PostList.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="artigos | thenzolima">
  <PostList>
    <article class="flex justify-between items-center mb-2">
      <h1 class="principal uppercase font-semibold">Todos os Artigos</h1>
    </article>
  </PostList>
</Layout>
