---
import Main from "@/components/Main.astro";
import Layout from "@/layouts/Layout.astro";
import SobreContent from "@/content/sobre/sobre.mdx"
---

<Layout title="sobre mim | thenzolima">
    <Main>
        <SobreContent/>
    </Main>
</Layout>
