<nav class="flex justify-between">
    <div class="">
        <a href="/">thenzolima</a>
    </div>
    <div class="flex gap-2">
        <a href="/artigos" class="hover:text-rose-400">artigos</a>
        <a href="/uses" class="hover:text-rose-400">uso</a>
        <a href="/sobre" class="hover:text-rose-400">sobre</a>
    </div>
</nav>
