<section class="navbar">
    <div class="nav-title">
        <a href="/"><h1 class="thenzolima">THENZOLIMA</h1></a>
        <ion-icon name="chevron-forward-circle-outline" class="nav-btn"></ion-icon>
    </div>
        <div class="nav-links">
            <a href="/artigos">Artigos</a>
            <a href="https://tally.so/r/npKkLV" class="nav-contact-m" target="_blank" rel="noopener noreferrer">Minha Newsletter</a>
            <a class="nav-contact" href="https://tally.so/r/npKkLV" target="_blank" rel="noopener noreferrer">Minha Newsletter</a>
        </div>
    </div>
</section>