<div class="redes">
    <a href="https://github.com/thenzolima" target="_blank" rel="noopener noreferrer" aria-label="Link do meu Github"><ion-icon name="logo-github"></ion-icon></a>
    <a href="https://www.instagram.com/thenzolima/" target="_blank" rel="noopener noreferrer" aria-label="Link do meu Instagram"><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="btn" href=""><ion-icon name="at"></ion-icon>Copiar Email</a>
    <input type="text" value="contato@thenzolima.com.br" class="email">
</div>