<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script>
    const hamburger = document.querySelector('.nav-btn');

    hamburger.onclick = function () {
        const nav = document.querySelector('.navbar')
        const navbar = document.querySelector('.nav-links');
        const body = document.querySelector('body');

        navbar.classList.toggle("active");
        hamburger.classList.toggle("active");
        body.classList.toggle("active");
        nav.classList.toggle("active");
    }

    new ClipboardJS('.btn');
    var copyEmail = document.querySelector('#copyEmail p');
    copyEmail.onclick = function () {
        copyEmail.innerHTML = "Copiado";
        setTimeout(function () {
            copyEmail.innerHTML = "Copiar Email";
        }, 1600);
    };

    let footerAno = document.querySelector("#ano")
    let ano = new Date().getFullYear()
    footerAno.innerHTML = `${ano} | Enzo Lima`

</script>