.single {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.singleContent {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.singleContent img {
  width: 100%;
}

.singleContent ul {
  padding-inline-start: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleContent p code {
  background-color: var(--bgSoft);
  display: inline;
  width: max-content;
  padding: 3px 5px 3px 5px;
}

.singleHeadTitle{
  margin-bottom: 1.2rem;
}

pre code {
  background-color: var(--bgSoft);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

blockquote {
  background-color: var(--bgSoft);
  padding: 10px 10px 10px 25px;
  margin-bottom: 15px;
  color: var(--white);
  border-left: 5px solid var(--white);
}
